*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    color:#242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1000px;
    margin: 0 auto;
    float: none;
}
.link-logo {
    font-size: 28px;
}
.header{
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    padding: 20px 0;
}
.nav{
    background-color: #ffffff;
    padding: 20px 0;
}

.logo{
    width: 30%;
    float: left;
}
.top-links{
    width: 30%;
    float: right;
    font-size: 15px;
}
.top-links li{
    float: right;
    list-style: none;
    margin-left: 15px;
}
.top-links ul li a {
    text-decoration: none;
    color: #242424;
}
.menu li{
    float: left;
    list-style: none;
    margin-right: 20px;
}
.menu li a {
    text-decoration: none;
    color: #242424;
    font-weight: 600;
}
.menu .last-item{
    float: right;
    margin-right: 0;
}
.main{
    padding-top: 30px;
}
.aside{
    float: left;
    width: 33.33%;
    padding-left: 15px;
}
.content{
    float: left;
    width: 66.67%;
    padding-right: 15px;
}
.content-body{
    float: left;
    width: 100%;
    background-color: #ffffff;
    padding: 40px;
}
.content-body b{
    font-size: 30px;
}
.content-body p{
    margin-top: 15px;
}
.content-body p a{
    color: red;
}

.content-body img {
    margin-top: 20px;
    margin-bottom: 20px;
}
.block{
    float: left;
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.block_subcribe {
    background-color: #242424;
    float: left;
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
    color: #ffffff;
}
.youname {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    margin-top: 10px;
}
.subscribe {
    width: 100%;
    margin-top: 10px;
    height: 40px;
    background-color: red;
    color: #ffffff;
    cursor: pointer;
}
.icon1 {
    background-color: #dfe5e9;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;

}
.icon1 a {
    color: #242424;
}
.search {
    width: 100%;
    height: 40px;
    padding-left: 20px;
}
